body {
    font-family: Arial, sans-serif;
}

#map {
    height: 400px; 
    width: 50%; 
}

#myChart {
    height: 400px; 
    max-width: 600px;
    margin: auto;
    display: block; 
}

.filter-container {
    text-align: center;
    margin-bottom: 20px;
}