body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#map {
    height: 400px;
    width: 50%;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myChart {
    height: 400px;
    max-width: 600px;
    margin: auto;
    display: block;
}