body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; 
}

#map {
    height: 400px;
    width: 45%; 
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; 
}

#myChart, #yearlyChart {
    height: 200px; 
    max-width: 100%; 
    margin: 10px auto; 
    display: block;
}

#myChart, #PopBarChart {
    height: 200px; 
    max-width: 100%; 
    margin: 10px auto; 
    display: block;
}